body {
    color: #000;
    padding: 20px;
}

.hidden {
    display: none;
}

.input {
    width: 350px;
    padding: .8em 1em calc(.8em + 3px);
}

.button_popover {
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb(64,199,129);
    box-shadow: 0 -3px rgb(53,167,110) inset;
    transition: 0.2s;
}

.button_popover:hover {
    background: rgb(53, 167, 110);
}

.button_popover:active {
    background: rgb(33,147,90);
    box-shadow: 0 3px rgb(33,147,90) inset;
}

.popover {
    width: 350px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 0 0 5px 5px;
    position: absolute;
    overflow: hidden;
    padding-bottom: 10px;  
    max-height: 0; 
    transition: max-height 0.9s ease-in-out;
    
}
.popover.show {
    max-height: 500px;
}

.popover.hiding {
    max-height: 0;
    transition: max-height 0.3s ease-in-out;
    pointer-events: none;
}
.popover h3 {
    padding: .4rem .75rem;
    margin: 0;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px 5px 0 0 ;
    margin-block-start: 0;
    font-size: 0.85rem;
  }
  .popover_text {
    line-height: 1.5;
    padding: .5rem .75rem;
    border-top: none;
    color: #212529;
    font-size: .82rem;
    position: relative;
    border-radius:  0 0 5px 5px;
    border: 1px solid #ccc;
    background-color: #fff;
  }
